<div class="menuItem">
    <div class="HomeTitle">
        <h2>OUR FOOD RECIPIES</h2>
    </div>

    <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">RECIPIES I</h5>
              <p class="card-text">PRICE $20</p>
              <a href="#" class="btn btn-primary">BUY NOW</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">RECIPIES II</h5>
              <p class="card-text">PRICE $30</p>
              <a href="#" class="btn btn-primary">BUY NOW</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">RECIPIES III</h5>
              <p class="card-text">PRICE $30</p>
              <a href="#" class="btn btn-primary">BUY NOW</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">RECIPIES IV</h5>
              <p class="card-text">PRICE $30</p>
              <a href="#" class="btn btn-primary">BUY NOW</a>
            </div>
          </div>
        
    </div>
</div>