.container{
    display: flex;
    gap: 10%;
}

.btn-primary{
    background-color: green;
    font-weight: bold;
}
.HomeTitle{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.HomeTitle h2{
    font-weight: bold;
    font-size: 50px;
}